/* #f83caf#CF34D9#B745F0#7534D9#523CF8 */

h1, h2, h3, h4, h5, h6 {
 font-weight: 700;
}
  
p {
  color: #8f8f8f;
}
  
body {
  font-family: Montserrat, serif;
  scroll-behavior: smooth;
  text-align: center;
  background-color: #f83caf;
}
  
a {
  text-decoration: none;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
  }
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-weight: 300;
    font-size: 1.2rem;
  }